* {
    box-sizing: border-box;
}

body{
    background-color: #ECEEF1;
}

/* ------------------------------------------navbar------------------------------------------------------*/

#navbar{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

.signin{
    display: flex;
    flex-flow: row nowrap;
    margin-right: 1.4%;
    padding: 0.9% 1%;
}

.signin-span{
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(56, 54, 54, 0.836);
    line-height: 1.1rem;
    font-size: small;
    white-space: nowrap;
    text-decoration: none;
}

.signin-btn{
    border-radius: 5px;
    border: solid 1px black;
    color: white;
    white-space: nowrap;
    background-color: #0077c5;
    padding: 2.5% 9% 2.5% 5%;
    margin-left: 2%;
}
.signin-i{
    margin-right: 9%;
}

.forg-usr-p{
    text-decoration: none;
    color: #0077c5;
}
/* ------------------------------------------main------------------------------------------------------*/
#main{
    height: 80%;
}

.signup{
    border: solid 1px;
    margin: 2% 30% 2% 30%;
}

.extra-links{
}

.intuit-logo{
    width: 50%;
}

.signup-form{
    background-color: white;
    border: solid 1px;
}

.terms{
    
}

.privacy{
    background-color: #ECEEF1;
}

/* ------------------------------------------footer------------------------------------------------------*/

#footer{
}

.footer-div{
    text-align: center;
}